body {
  /* background: linear-gradient(
to right,
#a8c0ff,
#3f2b96
); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-image: url("https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&w=1600"); */
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  background-size: cover;
  background-repeat: none;
}
.card {
  width: 404px;
  background-color: rgba(255, 255, 255, 0.61);
  /* color: white; */
}
.input {
  width: 500px;
  height: 135px;
}
#movieName {
  background-color: rgba(255, 255, 255, 0.11);
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(10, 9, 9);
}
