body {
  background: linear-gradient(
    to right,
    #a8c0ff,
    #3f2b96
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card {
  width: 404px;
}
.input {
  width: 500px;
  height: 135px;
}
