* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: verdana;
}
body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    320deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 26, 1) 57%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradient 15s ease infinite;
  margin: 15px;
}
.container {
  /* background: linear-gradient(to right, #ffefba, #ffffff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: white;
  max-width: 400px;
  width: 100%;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 0 5 px 10px rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  /* border:2px solid red; */
}
.content {
  display: flex;
  width: 100%;
}
#text {
  width: 80%;
  margin: 4px;
  height: 40px;
  border-radius: 10px;
}
#btn {
  width: 20%;
  margin: 4px;
  color: white;
  height: 40px;
  background-color: black;
  border-radius: 20px;
}
#btn:hover {
  background-color: rgb(41, 32, 32);
}

ul {
  border-radius: 7px;
  margin: 15px 0;
  padding: 10px;
  background: #eee;
  color: #333;

  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
ul .fa-check,
.fa-trash {
  cursor: pointer;
}

ul li {
  width: 100%;
  padding: 0 1em;
  white-space: normal;
  word-break: break-all;
  margin: 5px 0;
  height: 40px;
  background-color: rgb(248, 168, 76);
  color: white;
  border-radius: 10px;
  display: flex;
}
.input {
  width: 60%;
  padding: 10px;
}
.delete {
  width: 20%;
  background-color: black;
}
.done {
  width: 20%;
  background-color: black;
}
.fa-trash {
  color: red;
}
.fa-check {
  color: green;
}
