<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form action="/" method="post">
        <input type="text" id="user" name="userName" />

        <input type="email" id="email" name="Email" />
        <button type="submit"></button>
      </form>
      <div class="users">
        <ul>
          <% users.forEach(item => { %>
          <li>
            <span><%= item.user %></span>
          </li>
          <%}); %>
        </ul>
      </div>
    </div>
  </body>
</html>
